.trailer-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pokemon-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
}
.items-section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
    clear: left;
}
.pokemon-section-container {
    padding: 50px;
}
.items-section-container {
    margin-top: 100px;
    padding: 50px;
}
.items-section-container h3 {
    float: left;
    margin-left: 30px;
}
.pokemon-header-group {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}